{{#includes}}
#include "{{path}}.h"
{{/includes}}

namespace Meta
{
    void RegisterReflection()
    {
        {{#classes}}
        Meta::GetType<typename {{{canonical_name}}}>();
        {{/classes}}
    }
}