#include "{{header_path}}"

// Classes
namespace Meta
{
    {{#classes}}
    template<>
    void RegisterClassRtti<typename {{{canonical_name}}}>();
    {{/classes}}
}

// Enums
namespace Meta
{
    {{#enums}}
    template<>
    void RegisterEnumRtti<typename {{{canonical_name}}}>();
    {{/enums}}
}
