{{#includes}}
#include "{{path}}"
{{/includes}}

namespace Meta
{
    void RegisterReflection()
    {
        // Classes
        {{#classes}}
        RegisterClassRtti<typename {{{canonical_name}}}>();
        {{/classes}}

        // Enums
        {{#enums}}
        RegisterEnumRtti<typename {{{canonical_name}}}>();
        {{/enums}}
    }
}